<%-include ("./partials/header") %>
<link rel="stylesheet" href="/stylesheets/forms.css" />
<div class="login-box" style="margin-top: 180px;"> 
    <h2 >Register</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Name</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Password</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Phone Number</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>College</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Degree</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Joining Year</label>
      </div>

      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
    </form>
  </div>